<a href="https://colab.research.google.com/github/CarlosRubenBageta/Docencia-FCA/blob/main/Libres_Matem%C3%A1tica2022_FCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

Saving Julio_2022_111.csv to Julio_2022_111 (1).csv

{'Julio_2022_111.csv': b'Legajo;Alumno;Fecha;Nota;Resultado;Acta ;Folio\r\n1007923;CIPOLLETTA, AYEL\xc9N;7/7/2022;6 (Seis);Aprobado;2863728;1\r\n1007922;DELSAU, IVANA MARGARITA;7/7/2022;6 (Seis);Aprobado;2863728;1\r\n'}

In [ ]:
files.upload()

Saving Agosto_1_2022_111.csv to Agosto_1_2022_111.csv

{'Agosto_1_2022_111.csv': b'Legajo;Alumno;Fecha;Nota;Resultado;Acta;Folio\r\n1007600;ARIAS, JES\xdaS DANIEL;04/08/2022;;Ausente;2863804;1\r\n1007925;BERTANCUD, AGUSTINA;04/08/2022;6 (Seis);Aprobado;2863804;1\r\n1007848;COLOMBO, LAUTARO FRANCISCO;04/08/2022;7 (Siete);Aprobado;2863804;1\r\n1007849;CUEVAS FERNANDEZ, ANA JULIA;04/08/2022;10 (Diez);Aprobado;2863804;1\r\n1007838;DELSON DIDOT, AUGUSTO FEDERICO;04/08/2022;7 (Siete);Aprobado;2863804;1\r\n1007875;DOMINGUEZ, ABRIL MACARENA;04/08/2022;6 (Seis);Aprobado;2863804;1\r\n1007851;DUR\xc1N ZABALETA, MARTINA LUCIANA;04/08/2022;6 (Seis);Aprobado;2863804;1\r\n1007766;FENDER, WALTER;04/08/2022;3 (Tres);Reprobado;2863804;1\r\n1007707;LUCCA, SANTIAGO JAVIER;04/08/2022;3 (Tres);Reprobado;2863804;1\r\n1007733;MENDOZA, PRISCILA NAOM\xcd;04/08/2022;4 (Cuatro);Reprobado;2863804;1\r\n1007883;MOLINA, ROC\xcdO ARIANA;04/08/2022;6 (Seis);Aprobado;2863804;1\r\n1007774;MONTOYA, LUANA;04/08/2022;1 (Uno);Reprobado;2863804;1\r\n1007884;MORAL MAESTRE, VALENTINA MONSERRAT;04/08/2022;7 (Siete);Aprobado;2863804;1\r\n1007462;MOYANO HIDALGO, MARIO GABRIEL;04/08/2022;4 (Cuatro);Reprobado;2863804;1\r\n1007885;NAVARRETE, JUAN PABLO;04/08/2022;6 (Seis);Aprobado;2863804;1\r\n1007812;PERALTA, FACUNDO TOMAS;04/08/2022;3 (Tres);Reprobado;2863804;1\r\n1007890;QUIROGA MAZZONE, SANTIAGO AGUST\xcdN;04/08/2022;7 (Siete);Aprobado;2863804;1\r\n1007920;SAMCHUK, AGUSTINA JULIETA;04/08/2022;9 (Nueve);Aprobado;2863804;1\r\n1007796;SCANDURA, CARLA MARTINA;04/08/2022;1 (Uno);Reprobado;2863804;1\r\n1007862;SUHAIMAN, NADYA SAMIRA;04/08/2022;7 (Siete);Aprobado;2863804;1\r\n1007896;TUR, VALENTINA LUCIA;04/08/2022;4 (Cuatro);Reprobado;2863804;1\r\n1007712;VICARIO, LAUTARO;04/08/2022;3 (Tres);Reprobado;2863804;1\r\n1007839;VILA, DELFINA;04/08/2022;6 (Seis);Aprobado;2863804;1\r\n1007762;ZAMORANO ELASKAR, HIP\xd3LITO AGUST\xcdN;04/08/2022;6 (Seis);Aprobado;2863804;1\r\n'}

In [ ]:
julio_111=pd.read_csv("Julio_2022_111.csv",sep=';',encoding="latin-1")

In [ ]:
julio_111

,Legajo,Alumno,Fecha,Nota,Resultado,Acta,Folio
0,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,6 (Seis),Aprobado,2863728,1
1,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,6 (Seis),Aprobado,2863728,1

In [ ]:
julio_111_2=pd.read_csv("Julio_2022_111_2.csv",sep=';',encoding="latin-1")

In [ ]:
julio_111_2

,Legajo,Alumno,Fecha,Nota,Resultado,Acta,Folio
0,1007898,"ANDREONE PEREZ, GENARA",07/07/2022,7 (Siete),Aprobado,2863663,1
1,1007600,"ARIAS, JESÚS DANIEL",07/07/2022,NaN,Ausente,2863664,1
2,1007925,"BERTANCUD, AGUSTINA",07/07/2022,4 (Cuatro),Reprobado,2863665,1
3,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,5 (Cinco),Reprobado,2863666,1
4,1007848,"COLOMBO, LAUTARO FRANCISCO",07/07/2022,4 (Cuatro),Reprobado,2863667,1
5,1007873,"CORTI RAO, IÑAKI",07/07/2022,7 (Siete),Aprobado,2863668,1
6,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,4 (Cuatro),Reprobado,2863669,1
7,1007838,"DELSON DIDOT, AUGUSTO FEDERICO",07/07/2022,5 (Cinco),Reprobado,2863670,1
8,1007825,"DOMINGUEZ, ROCÍO AILÉN",07/07/2022,7 (Siete),Aprobado,2863671,1
9,1007826,"ETCHART, TRINIDAD",07/07/2022,6 (Seis),Aprobado,2863672,1
10,1007766,"FENDER, WALTER",07/07/2022,4 (Cuatro),Reprobado,2863673,1
11,1007876,"FLORES, ENOC EMANUEL",07/07/2022,6 (Seis),Aprobado,2863674,1
12,1007878,"GASAL FARIAS, SOL",07/07/2022,6 (Seis),Aprobado,2863675,1
13,1007769,"GUEVARA, ARNALDO JUAN IGNACIO",07/07/2022,6 (Seis),Aprobado,2863676,1
14,1007899,"LIVINGSTON, JOSEFINA",07/07/2022,4 (Cuatro),Reprobado,2863677,1
15,1007924,"MALLEA, GONZALO",07/07/2022,NaN,Ausente,2863678,1
16,1007804,"MAULÉN ROBLES, LARA",07/07/2022,6 (Seis),Aprobado,2863679,1
17,1007733,"MENDOZA, PRISCILA NAOMÍ",07/07/2022,4 (Cuatro),Reprobado,2863680,1
18,1007910,"MINETTO, RAFAEL",07/07/2022,7 (Siete),Aprobado,2863681,1
19,1007883,"MOLINA, ROCÍO ARIANA",07/07/2022,3 (Tres),Reprobado,2863682,1
20,1007915,"ORNSTEIN, CELINA",07/07/2022,3 (Tres),Reprobado,2863683,1
21,1007916,"PACHECO, FABRICIO NAHUEL",07/07/2022,3 (Tres),Reprobado,2863684,1
22,1007812,"PERALTA, FACUNDO TOMAS",07/07/2022,4 (Cuatro),Reprobado,2863685,1
23,1007889,"PIA, MANUELA",07/07/2022,4 (Cuatro),Reprobado,2863686,1
24,1007900,"PONCE TOSCO, ALVARO",07/07/2022,2 (Dos),Reprobado,2863687,1
25,1007858,"ROLDAN, NICOLAS",07/07/2022,3 (Tres),Reprobado,2863688,2
26,1007860,"SOTO, NORA SOFÍA",07/07/2022,7 (Siete),Aprobado,2863689,2
27,1007894,"TORLASCO, YESICA DAIANA",07/07/2022,6 (Seis),Aprobado,2863690,2
28,1007895,"TREPOL, JULIA",07/07/2022,5 (Cinco),Reprobado,2863691,2
29,1007896,"TUR, VALENTINA LUCIA",07/07/2022,2 (Dos),Reprobado,2863692,2
30,1007897,"VALENZUELA FLORES, MARÍA ANTONELA",07/07/2022,2 (Dos),Reprobado,2863693,2
31,1007921,"VANDEMADIER, VALENTINA",07/07/2022,4 (Cuatro),Reprobado,2863694,2
32,1007762,"ZAMORANO ELASKAR, HIPÓLITO AGUSTÍN",07/07/2022,4 (Cuatro),Reprobado,2863695,2

In [ ]:
m = pd.merge(julio_111, julio_111_2, how = 'outer')

In [ ]:
m

,Legajo,Alumno,Fecha,Nota,Resultado,Acta,Folio
0,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,6 (Seis),Aprobado,2863728,1
1,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,6 (Seis),Aprobado,2863728,1
2,1007898,"ANDREONE PEREZ, GENARA",07/07/2022,7 (Siete),Aprobado,2863663,1
3,1007600,"ARIAS, JESÚS DANIEL",07/07/2022,NaN,Ausente,2863664,1
4,1007925,"BERTANCUD, AGUSTINA",07/07/2022,4 (Cuatro),Reprobado,2863665,1
5,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,5 (Cinco),Reprobado,2863666,1
6,1007848,"COLOMBO, LAUTARO FRANCISCO",07/07/2022,4 (Cuatro),Reprobado,2863667,1
7,1007873,"CORTI RAO, IÑAKI",07/07/2022,7 (Siete),Aprobado,2863668,1
8,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,4 (Cuatro),Reprobado,2863669,1
9,1007838,"DELSON DIDOT, AUGUSTO FEDERICO",07/07/2022,5 (Cinco),Reprobado,2863670,1
10,1007825,"DOMINGUEZ, ROCÍO AILÉN",07/07/2022,7 (Siete),Aprobado,2863671,1
11,1007826,"ETCHART, TRINIDAD",07/07/2022,6 (Seis),Aprobado,2863672,1
12,1007766,"FENDER, WALTER",07/07/2022,4 (Cuatro),Reprobado,2863673,1
13,1007876,"FLORES, ENOC EMANUEL",07/07/2022,6 (Seis),Aprobado,2863674,1
14,1007878,"GASAL FARIAS, SOL",07/07/2022,6 (Seis),Aprobado,2863675,1
15,1007769,"GUEVARA, ARNALDO JUAN IGNACIO",07/07/2022,6 (Seis),Aprobado,2863676,1
16,1007899,"LIVINGSTON, JOSEFINA",07/07/2022,4 (Cuatro),Reprobado,2863677,1
17,1007924,"MALLEA, GONZALO",07/07/2022,NaN,Ausente,2863678,1
18,1007804,"MAULÉN ROBLES, LARA",07/07/2022,6 (Seis),Aprobado,2863679,1
19,1007733,"MENDOZA, PRISCILA NAOMÍ",07/07/2022,4 (Cuatro),Reprobado,2863680,1
20,1007910,"MINETTO, RAFAEL",07/07/2022,7 (Siete),Aprobado,2863681,1
21,1007883,"MOLINA, ROCÍO ARIANA",07/07/2022,3 (Tres),Reprobado,2863682,1
22,1007915,"ORNSTEIN, CELINA",07/07/2022,3 (Tres),Reprobado,2863683,1
23,1007916,"PACHECO, FABRICIO NAHUEL",07/07/2022,3 (Tres),Reprobado,2863684,1
24,1007812,"PERALTA, FACUNDO TOMAS",07/07/2022,4 (Cuatro),Reprobado,2863685,1
25,1007889,"PIA, MANUELA",07/07/2022,4 (Cuatro),Reprobado,2863686,1
26,1007900,"PONCE TOSCO, ALVARO",07/07/2022,2 (Dos),Reprobado,2863687,1
27,1007858,"ROLDAN, NICOLAS",07/07/2022,3 (Tres),Reprobado,2863688,2
28,1007860,"SOTO, NORA SOFÍA",07/07/2022,7 (Siete),Aprobado,2863689,2
29,1007894,"TORLASCO, YESICA DAIANA",07/07/2022,6 (Seis),Aprobado,2863690,2
30,1007895,"TREPOL, JULIA",07/07/2022,5 (Cinco),Reprobado,2863691,2
31,1007896,"TUR, VALENTINA LUCIA",07/07/2022,2 (Dos),Reprobado,2863692,2
32,1007897,"VALENZUELA FLORES, MARÍA ANTONELA",07/07/2022,2 (Dos),Reprobado,2863693,2
33,1007921,"VANDEMADIER, VALENTINA",07/07/2022,4 (Cuatro),Reprobado,2863694,2
34,1007762,"ZAMORANO ELASKAR, HIPÓLITO AGUSTÍN",07/07/2022,4 (Cuatro),Reprobado,2863695,2

In [ ]:
agosto_1_2022_111=pd.read_csv("Agosto_1_2022_111.csv",sep=';',encoding="latin-1")

In [ ]:
agosto_1_2022_111

,Legajo,Alumno,Fecha,Nota,Resultado,Acta,Folio
0,1007600,"ARIAS, JESÚS DANIEL",04/08/2022,NaN,Ausente,2863804,1
1,1007925,"BERTANCUD, AGUSTINA",04/08/2022,6 (Seis),Aprobado,2863804,1
2,1007848,"COLOMBO, LAUTARO FRANCISCO",04/08/2022,7 (Siete),Aprobado,2863804,1
3,1007849,"CUEVAS FERNANDEZ, ANA JULIA",04/08/2022,10 (Diez),Aprobado,2863804,1
4,1007838,"DELSON DIDOT, AUGUSTO FEDERICO",04/08/2022,7 (Siete),Aprobado,2863804,1
5,1007875,"DOMINGUEZ, ABRIL MACARENA",04/08/2022,6 (Seis),Aprobado,2863804,1
6,1007851,"DURÁN ZABALETA, MARTINA LUCIANA",04/08/2022,6 (Seis),Aprobado,2863804,1
7,1007766,"FENDER, WALTER",04/08/2022,3 (Tres),Reprobado,2863804,1
8,1007707,"LUCCA, SANTIAGO JAVIER",04/08/2022,3 (Tres),Reprobado,2863804,1
9,1007733,"MENDOZA, PRISCILA NAOMÍ",04/08/2022,4 (Cuatro),Reprobado,2863804,1
10,1007883,"MOLINA, ROCÍO ARIANA",04/08/2022,6 (Seis),Aprobado,2863804,1
11,1007774,"MONTOYA, LUANA",04/08/2022,1 (Uno),Reprobado,2863804,1
12,1007884,"MORAL MAESTRE, VALENTINA MONSERRAT",04/08/2022,7 (Siete),Aprobado,2863804,1
13,1007462,"MOYANO HIDALGO, MARIO GABRIEL",04/08/2022,4 (Cuatro),Reprobado,2863804,1
14,1007885,"NAVARRETE, JUAN PABLO",04/08/2022,6 (Seis),Aprobado,2863804,1
15,1007812,"PERALTA, FACUNDO TOMAS",04/08/2022,3 (Tres),Reprobado,2863804,1
16,1007890,"QUIROGA MAZZONE, SANTIAGO AGUSTÍN",04/08/2022,7 (Siete),Aprobado,2863804,1
17,1007920,"SAMCHUK, AGUSTINA JULIETA",04/08/2022,9 (Nueve),Aprobado,2863804,1
18,1007796,"SCANDURA, CARLA MARTINA",04/08/2022,1 (Uno),Reprobado,2863804,1
19,1007862,"SUHAIMAN, NADYA SAMIRA",04/08/2022,7 (Siete),Aprobado,2863804,1
20,1007896,"TUR, VALENTINA LUCIA",04/08/2022,4 (Cuatro),Reprobado,2863804,1
21,1007712,"VICARIO, LAUTARO",04/08/2022,3 (Tres),Reprobado,2863804,1
22,1007839,"VILA, DELFINA",04/08/2022,6 (Seis),Aprobado,2863804,1
23,1007762,"ZAMORANO ELASKAR, HIPÓLITO AGUSTÍN",04/08/2022,6 (Seis),Aprobado,2863804,1

In [ ]:
m2 = pd.merge(m, agosto_1_2022_111, how = 'left',on='Legajo')

In [ ]:
m2

,Legajo,Alumno_x,Fecha_x,Nota_x,Resultado_x,Acta,Folio_x,Alumno_y,Fecha_y,Nota_y,Resultado_y,Acta,Folio_y
0,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,6 (Seis),Aprobado,2863728,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,6 (Seis),Aprobado,2863728,1,NaN,NaN,NaN,NaN,NaN,NaN
2,1007898,"ANDREONE PEREZ, GENARA",07/07/2022,7 (Siete),Aprobado,2863663,1,NaN,NaN,NaN,NaN,NaN,NaN
3,1007600,"ARIAS, JESÚS DANIEL",07/07/2022,NaN,Ausente,2863664,1,"ARIAS, JESÚS DANIEL",04/08/2022,NaN,Ausente,2863804.0,1.0
4,1007925,"BERTANCUD, AGUSTINA",07/07/2022,4 (Cuatro),Reprobado,2863665,1,"BERTANCUD, AGUSTINA",04/08/2022,6 (Seis),Aprobado,2863804.0,1.0
5,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,5 (Cinco),Reprobado,2863666,1,NaN,NaN,NaN,NaN,NaN,NaN
6,1007848,"COLOMBO, LAUTARO FRANCISCO",07/07/2022,4 (Cuatro),Reprobado,2863667,1,"COLOMBO, LAUTARO FRANCISCO",04/08/2022,7 (Siete),Aprobado,2863804.0,1.0
7,1007873,"CORTI RAO, IÑAKI",07/07/2022,7 (Siete),Aprobado,2863668,1,NaN,NaN,NaN,NaN,NaN,NaN
8,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,4 (Cuatro),Reprobado,2863669,1,NaN,NaN,NaN,NaN,NaN,NaN
9,1007838,"DELSON DIDOT, AUGUSTO FEDERICO",07/07/2022,5 (Cinco),Reprobado,2863670,1,"DELSON DIDOT, AUGUSTO FEDERICO",04/08/2022,7 (Siete),Aprobado,2863804.0,1.0
10,1007825,"DOMINGUEZ, ROCÍO AILÉN",07/07/2022,7 (Siete),Aprobado,2863671,1,NaN,NaN,NaN,NaN,NaN,NaN
11,1007826,"ETCHART, TRINIDAD",07/07/2022,6 (Seis),Aprobado,2863672,1,NaN,NaN,NaN,NaN,NaN,NaN
12,1007766,"FENDER, WALTER",07/07/2022,4 (Cuatro),Reprobado,2863673,1,"FENDER, WALTER",04/08/2022,3 (Tres),Reprobado,2863804.0,1.0
13,1007876,"FLORES, ENOC EMANUEL",07/07/2022,6 (Seis),Aprobado,2863674,1,NaN,NaN,NaN,NaN,NaN,NaN
14,1007878,"GASAL FARIAS, SOL",07/07/2022,6 (Seis),Aprobado,2863675,1,NaN,NaN,NaN,NaN,NaN,NaN
15,1007769,"GUEVARA, ARNALDO JUAN IGNACIO",07/07/2022,6 (Seis),Aprobado,2863676,1,NaN,NaN,NaN,NaN,NaN,NaN
16,1007899,"LIVINGSTON, JOSEFINA",07/07/2022,4 (Cuatro),Reprobado,2863677,1,NaN,NaN,NaN,NaN,NaN,NaN
17,1007924,"MALLEA, GONZALO",07/07/2022,NaN,Ausente,2863678,1,NaN,NaN,NaN,NaN,NaN,NaN
18,1007804,"MAULÉN ROBLES, LARA",07/07/2022,6 (Seis),Aprobado,2863679,1,NaN,NaN,NaN,NaN,NaN,NaN
19,1007733,"MENDOZA, PRISCILA NAOMÍ",07/07/2022,4 (Cuatro),Reprobado,2863680,1,"MENDOZA, PRISCILA NAOMÍ",04/08/2022,4 (Cuatro),Reprobado,2863804.0,1.0
20,1007910,"MINETTO, RAFAEL",07/07/2022,7 (Siete),Aprobado,2863681,1,NaN,NaN,NaN,NaN,NaN,NaN
21,1007883,"MOLINA, ROCÍO ARIANA",07/07/2022,3 (Tres),Reprobado,2863682,1,"MOLINA, ROCÍO ARIANA",04/08/2022,6 (Seis),Aprobado,2863804.0,1.0
22,1007915,"ORNSTEIN, CELINA",07/07/2022,3 (Tres),Reprobado,2863683,1,NaN,NaN,NaN,NaN,NaN,NaN
23,1007916,"PACHECO, FABRICIO NAHUEL",07/07/2022,3 (Tres),Reprobado,2863684,1,NaN,NaN,NaN,NaN,NaN,NaN
24,1007812,"PERALTA, FACUNDO TOMAS",07/07/2022,4 (Cuatro),Reprobado,2863685,1,"PERALTA, FACUNDO TOMAS",04/08/2022,3 (Tres),Reprobado,2863804.0,1.0
25,1007889,"PIA, MANUELA",07/07/2022,4 (Cuatro),Reprobado,2863686,1,NaN,NaN,NaN,NaN,NaN,NaN
26,1007900,"PONCE TOSCO, ALVARO",07/07/2022,2 (Dos),Reprobado,2863687,1,NaN,NaN,NaN,NaN,NaN,NaN
27,1007858,"ROLDAN, NICOLAS",07/07/2022,3 (Tres),Reprobado,2863688,2,NaN,NaN,NaN,NaN,NaN,NaN
28,1007860,"SOTO, NORA SOFÍA",07/07/2022,7 (Siete),Aprobado,2863689,2,NaN,NaN,NaN,NaN,NaN,NaN
29,1007894,"TORLASCO, YESICA DAIANA",07/07/2022,6 (Seis),Aprobado,2863690,2,NaN,NaN,NaN,NaN,NaN,NaN
30,1007895,"TREPOL, JULIA",07/07/2022,5 (Cinco),Reprobado,2863691,2,NaN,NaN,NaN,NaN,NaN,NaN
31,1007896,"TUR, VALENTINA LUCIA",07/07/2022,2 (Dos),Reprobado,2863692,2,"TUR, VALENTINA LUCIA",04/08/2022,4 (Cuatro),Reprobado,2863804.0,1.0
32,1007897,"VALENZUELA FLORES, MARÍA ANTONELA",07/07/2022,2 (Dos),Reprobado,2863693,2,NaN,NaN,NaN,NaN,NaN,NaN
33,1007921,"VANDEMADIER, VALENTINA",07/07/2022,4 (Cuatro),Reprobado,2863694,2,NaN,NaN,NaN,NaN,NaN,NaN
34,1007762,"ZAMORANO ELASKAR, HIPÓLITO AGUSTÍN",07/07/2022,4 (Cuatro),Reprobado,2863695,2,"ZAMORANO ELASKAR, HIPÓLITO AGUSTÍN",04/08/2022,6 (Seis),Aprobado,2863804.0,1.0

In [ ]:
m.sort_values('Legajo')

,Legajo,Alumno,Fecha,Nota,Resultado,Acta,Folio
3,1007600,"ARIAS, JESÚS DANIEL",07/07/2022,NaN,Ausente,2863664,1
19,1007733,"MENDOZA, PRISCILA NAOMÍ",07/07/2022,4 (Cuatro),Reprobado,2863680,1
34,1007762,"ZAMORANO ELASKAR, HIPÓLITO AGUSTÍN",07/07/2022,4 (Cuatro),Reprobado,2863695,2
12,1007766,"FENDER, WALTER",07/07/2022,4 (Cuatro),Reprobado,2863673,1
15,1007769,"GUEVARA, ARNALDO JUAN IGNACIO",07/07/2022,6 (Seis),Aprobado,2863676,1
18,1007804,"MAULÉN ROBLES, LARA",07/07/2022,6 (Seis),Aprobado,2863679,1
24,1007812,"PERALTA, FACUNDO TOMAS",07/07/2022,4 (Cuatro),Reprobado,2863685,1
10,1007825,"DOMINGUEZ, ROCÍO AILÉN",07/07/2022,7 (Siete),Aprobado,2863671,1
11,1007826,"ETCHART, TRINIDAD",07/07/2022,6 (Seis),Aprobado,2863672,1
9,1007838,"DELSON DIDOT, AUGUSTO FEDERICO",07/07/2022,5 (Cinco),Reprobado,2863670,1
6,1007848,"COLOMBO, LAUTARO FRANCISCO",07/07/2022,4 (Cuatro),Reprobado,2863667,1
27,1007858,"ROLDAN, NICOLAS",07/07/2022,3 (Tres),Reprobado,2863688,2
28,1007860,"SOTO, NORA SOFÍA",07/07/2022,7 (Siete),Aprobado,2863689,2
7,1007873,"CORTI RAO, IÑAKI",07/07/2022,7 (Siete),Aprobado,2863668,1
13,1007876,"FLORES, ENOC EMANUEL",07/07/2022,6 (Seis),Aprobado,2863674,1
14,1007878,"GASAL FARIAS, SOL",07/07/2022,6 (Seis),Aprobado,2863675,1
21,1007883,"MOLINA, ROCÍO ARIANA",07/07/2022,3 (Tres),Reprobado,2863682,1
25,1007889,"PIA, MANUELA",07/07/2022,4 (Cuatro),Reprobado,2863686,1
29,1007894,"TORLASCO, YESICA DAIANA",07/07/2022,6 (Seis),Aprobado,2863690,2
30,1007895,"TREPOL, JULIA",07/07/2022,5 (Cinco),Reprobado,2863691,2
31,1007896,"TUR, VALENTINA LUCIA",07/07/2022,2 (Dos),Reprobado,2863692,2
32,1007897,"VALENZUELA FLORES, MARÍA ANTONELA",07/07/2022,2 (Dos),Reprobado,2863693,2
2,1007898,"ANDREONE PEREZ, GENARA",07/07/2022,7 (Siete),Aprobado,2863663,1
16,1007899,"LIVINGSTON, JOSEFINA",07/07/2022,4 (Cuatro),Reprobado,2863677,1
26,1007900,"PONCE TOSCO, ALVARO",07/07/2022,2 (Dos),Reprobado,2863687,1
20,1007910,"MINETTO, RAFAEL",07/07/2022,7 (Siete),Aprobado,2863681,1
22,1007915,"ORNSTEIN, CELINA",07/07/2022,3 (Tres),Reprobado,2863683,1
23,1007916,"PACHECO, FABRICIO NAHUEL",07/07/2022,3 (Tres),Reprobado,2863684,1
33,1007921,"VANDEMADIER, VALENTINA",07/07/2022,4 (Cuatro),Reprobado,2863694,2
1,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,6 (Seis),Aprobado,2863728,1
8,1007922,"DELSAU, IVANA MARGARITA",07/07/2022,4 (Cuatro),Reprobado,2863669,1
0,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,6 (Seis),Aprobado,2863728,1
5,1007923,"CIPOLLETTA, AYELÉN",07/07/2022,5 (Cinco),Reprobado,2863666,1
17,1007924,"MALLEA, GONZALO",07/07/2022,NaN,Ausente,2863678,1
4,1007925,"BERTANCUD, AGUSTINA",07/07/2022,4 (Cuatro),Reprobado,2863665,1